/***** Отступы по UI-kit *****/
$ui-padding-main: 16px; // основной отступ, используется внутри контейнеров/блоков
$ui-padding-space-between-elements: 24px; // отступы между элементами
$ui-padding-space-between-sections: 32px; // отступы между секциями
$ui-padding-small-space-between-elements: 16px; // отступы между близкими по смыслу элементами
