/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2a2e34;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7d8083;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
* {
  scrollbar-color: #7d8083 #2a2e34;
  scrollbar-width: thin !important;
}
